<div class="container">
    <div class="row" >
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-body" style="text-align: left;">
                    <!--/stories-->
                    <blockquote class="blockquote blockquote-custom  p-5 shadow rounded"><br><br>
                        <div class="blockquote-custom-icon bg-info shadow-sm"><i class="fa fa-quote-left text-black"></i></div>
                        <p class="mb-0 mt-2 font-italic" style="font-size: 30px; padding-top: 50px; color: white; font-weight: 500;">"The only thing that you<br> absolutly  have to know <br> is the location of the <b>Library</b>" </p>
                        <!-- <footer class="blockquote-footer " style="font-size: 16px; border: 10px;">Descartes
                           
                        </footer> -->
                        <br>
                        <p style="font-family: 'Times New Roman', Times, serif; font-size: 16px;"><b>--Albert Einstein</b></p>
                        
                    </blockquote>
                   
                    <!--/stories-->
                </div>
            </div>
        </div><!--/col-12-->
    </div>
</div>